/* common css start*/
body{
	margin: 0;
	font-family: "playfair display", serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/* common css end*/

/*header start*/
header{}
.container{
	padding: 35px 0 0;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	width: 10%;
	float: left;
	margin-top: 10px;
}
.logo a{}

.logo a img{
      width: 100%;
}
.menu{
	width: 65%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	display: inline-block;
	margin: 0 50px;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid  transparent;
	color: #626262;
	transition: linear .33s;
}
.menu ul li:last-child a{
	margin-right: 0;

}
.menu ul li a:hover{
	color: #000000;
	border-bottom: 1px solid #626262;
}
/*header end*/

/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/

/*artical start*/
.artical{
	padding: 100px 0 30px;
}
.container2{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.a_content{}
.c_light{
     font-family: "Ubuntu", sans-serif;
     font-family: 14px;
     font-weight: 300;
     text-transform: uppercase;
     color: #c7c1b6;
}
.c_title{
	margin: 15px 0 20px;
	font-size: 30px;
	font-weight: 400;
}

.c_text{
	margin-top: 0;
	line-height: 24px;
}
.a_link{
	margin-top: 45px;
    display: inline-block;
    text-decoration: none;
}

/*artical end*/

/*blog start*/
.blog{
   padding: 0 0 100px;
}
.blog_item{
	margin-top: 70px;
	box-sizing: border-box;
	float: left;
	width: 47%;
}
.blog_item:nth-child(even){
	margin-left: 6%;
}	
.blog_img{
	margin-bottom: 25px;
}
.blog_img img{
	width: 100%;
}

/*blog end*/

/*newslwtter start*/
.news{
	padding: 50px 0;
	background-color: #f0f0f0;
}
.signup{
	text-align: center;
}
.s_h1{
	font-size: 30px;
	margin-bottom: 100px;
}
.s_form{
	width: 350px;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.s_form input{
	border: none;
	background: transparent;
	border-bottom: 1px solid black;
	font-size: 14px;
	width: 290px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 60px;
}
.s_form input:focus {
	outline: 0;
}
.s_form button{
	border: none;
	background: transparent;
	position: absolute;
	top: 10px;
	right: 0;

}
.s_form button img{

}
/*newslwtter end*/
/*blog2 start*/
.blog2{
    padding: 30px 0 100px;
}
/*blog2 end*/

/*button start*/

.load{
	text-align: center;
}
.load button{
	margin: 75px 0 0;
	width: 165px;
	height: 60px;
	font-family: "playfair display", serif;
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
	border: none;
	border: 1px solid #626262;
	background: transparent;
	transition: linear.33s;
}
.load button:hover{
	color: white;
	background-color: #626262;
	border: 1px solid white;
}
/*button end*/

/* footer start*/
.footer{
	background-color: #f0f0f0;
	padding: 1%; 
}
.pages{
	float: left;
	margin: 0 auto;
}
.pages ul{
	list-style: none;
}
.pages ul li{
     float: left;
}
.pages ul li a{
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
	color: #000000;
}
.links{
	float: right;
	margin: 0 auto;

}
.links ul{
	list-style: none;
	float: right;
	
}
.links ul li{
	float:left;
	
}
.links ul li:first-child{
    margin-right: 20px;
	color:#000000 ;
}
.links ul li a{
	display: inline-block;
	margin: 0 20px;
	color: #000000;
}
.links ul li a img{
	
}


/* footer end*/
